########################################################################
#
#   This file defines global configuration settings that control 
#   the operation of an individual instance of a JMdictDB system.
#
#   This file is directly imported by the JMdictDB programs, cgi
#   scripts, and library modules, and so must contain valid Python
#   code.  Contents should be limited to constants only.
#
########################################################################

__version__ = ('$Revision: 000000000000 $'[11:-2],
	       '$Date: 0000/00/00 00:00:00 $'[7:-11])


  # Email address that will appear at the botton of each
  # cgi web page as the contact for questions etc.

CONTACT_EMAIL = "jimbreen@edrdg.org"

  # Name of the session service name.  If changed to other
  # than "jmsess", the file Makefile should also be changed 
  # to match.

SESSION_SVC = "jmsess"

  # If ENABLE_SQL_SEARCH is False or None, do not allow the
  # search results page (web/cgi/srchres.py) to process "sql"
  # url parameters.
  # If not None or False, it may have either of the values,
  # "all" or "editors" to allow it to accept a 'sql' parameter
  # from any user, or only from logged in editors respectively.
  # This requires that the database have special users added
  # for use by JMdictDB app, that security be set on all
  # database objects correctly, and the the pg_services file
  # be configured to correctly.  If these are not done correctly
  # a logged in editor could delete of inappropriately change
  # database data.
  # If None or False, arbitrary sql won't be accepted by the
  # srchres page and a simpler database security configuration
  # can be used, but users of the Advanced Search page will get
  # an error if they try to use it.
  # 
  # *** WARNING! ***
  # Note that currently there is no restriction on the sql
  # that can be excecuted via this page and it effectively gives
  # anyone with accesss to the page full read/write/delete access 
  # to the database.  Advanced search should be disabled unless
  # access to the advanced search page is restricted users you
  # would be willing to give the database "postgres" user password
  # to.

ENABLE_SQL_SEARCH = None

  # The folloowing control the number of entries that will search
  # be shown of the search results page (web/cgi/srchres.py).  If
  # there atr 

DEF_ENTRIES_PER_PAGE = 100	# Default entries per page, if not overridden in url.
MAX_ENTRIES_PER_PAGE = 1000	# Absolute maximum/minimum number of entries per page
MIN_ENTRIES_PER_PAGE = 1	#   regardless of any value provided in url.

  # Do not run any search query in web/cgi/srchres.py that has a
  # cost (as reported by Postgresql's EXPLAIN command) greater
  # than this number.

MAX_QUERY_COST = 200000
