{%- extends "layout.jinja" %}
{% block title %}Submission successful{% endblock %}
{%- block page_content %}
<!-- submitted.jinja, part of JMdictDB.  Copyright (c) 2018 Stuart McGraw -->
    <div class="results">
      <p/><b>Thank you for your contribution!</b>
      <p/>Your update(s) have been added to the JMdict database
        as provisional entries with the following seq. number(s):
      <p/>
      <table>
        <tr><td>Corpus</td><td>Seq#</td><td>Id#</td></tr>
        <tr>
    
        {% for a in added %}
          {#- 'added' is a list of 3-tuples of (id#,seq#,src) for
               each (although typically only one) added entry.  #}
          <tr>
          <td>{{a[2]|TALabbrtxt('SRC')}}</td>
          <td><a href="entr.py?q={{a[1]}}&amp;svc={{svc}}&amp;sid={{sid|d}}">{{a[1]}}</a>
          <td><a href="entr.py?e={{a[0]}}&amp;svc={{svc}}&amp;sid={{sid|d}}">{{a[0]}}</a>
          </tr>
          {% endfor %}
        </table>
      <p/>After review by the JMdict editors, they will be accepted
        and become standard entries, or rejected for reasons that
        will be described in the Comments section.  In either case
        the seq. numbers (and links) given above will show you
        their status.  The Id# link will show your submission.
        The Seq# link will show all the entries for this word.
      </div>
  {%- endblock %}
