/* Entry display */
.entry		{font-family: arial; font-size: 100%; background: #E8FFF0; 
		 border-style: solid; border-width: thin; 
		 margin: 5px; padding: 10px}
.pkid		{font-size: 55%}
.kattrs,.rattrs {font-size: 80%; font-style: italic; color: #008000}
.pos,.misc	{font-style: italic; color: #008000}
.dial,.lang	{font-size: 80%}
.status		{font-size: 80%}
.pend		{color: #FF0000}
.caution	{color: #FF0000}
.notice		{font-size: 55%; color: #FF0000}
.notes		{font-size: 75%;}
.preformat	{margin-left: 2em; white-space: pre-wrap;
		 font-size:110%; font-family: monospace}
.histtab	{border-style: solid; border-width: thin; border-color: #A0A0A0; 
		 padding: 5px; font-size: 75%}
.submitter_name {font-weight: 700}
.fakelink       {color: #0000EE; /* same as a link's default color. */
                 text-decoration: underline; cursor: pointer; }

/* Search results list */
.results	{background: #E8FFF0; 
		 border-style: solid; border-width: thin; 
		 margin: 5px; padding: 10px;
		 font: 100% arial}	
.count     	{font-size: 80%; font-style: bold; color: #C00040}
.reslist   	{border-width: thin;}
.resrow    	{vertical-align: top;}
.seq,.gloss	{font-size: 80%;}
.heading   	{border-width: thin;}
.debug		{font-size: 60%;}

/* Search form */
.form	    	{background: #E8FFF0; 
		  border-style: solid; border-width: thin; 
		  margin: 5px; padding: 10px;
		  font: 100% arial}
.descriptor	{font-style: italic; color: #008000;} 
.optgroup	{font: 75% arial}

/* Conjugations */
.conjtable	{border-collapse: collapse; border: 1px solid black;}
.conjbrk	{background: #FFFFE0;}
.conjacks       {font-size: 75%;
                  border-style: solid; border-width: thin; 
		  margin: 5px; padding: 10px;}


/* other */
.helplink	{font-size: 75%;}
table.syntable	{border: 1px solid black; border-collapse:collapse;}
td.syntable     {vertical-align:top; border: 1px solid black;
		 cellpadding:2; cellspacing:2;}
.navlinks	{font-size: 75%}
.foottxt	{font-size: 75%}
.hlogin		{font-size: 75%}
